@model List<ListPlayedViewModel>

@foreach(var played in Model) {
    <div class="w-1/5 mb-2">
        <div class="relative shadow mr-2 cursor-pointer" onclick="Played.SelectForUpdate(@played.Id)">
            @if (played.CoverPath != null)
            {
                <img class="w-full block object-contain" src="https:@played.CoverPath" alt="@played.Title poster"/>
            }
            else
            {
                <div class="bg-green-500 w-full h-full">@played.Title</div>
            }
            <div class="bg-gray-700 text-white font-semibold text-center py-1" text-center">@played.Rating</div>
        </div>
    </div>
}