<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MySite</title>
        <link href="~/dist/admin.css" rel="stylesheet"/>
    </head>
    <body class="flex">
        <nav class="fixed bg-gray-800 h-screen shadow-md sidenav">
            <a href="/Home" class="sidenav__item">Home</a>
            <a href="/Played" class="sidenav__item">Played</a>
            <a href="/Read" class="sidenav__item">Read</a>
            <a href="/Watched" class="sidenav__item">Watched</a>
        </nav>
        <div id="Main" class="flex-1 p-2 main">
            @RenderBody()
        </div>
        <script src="~/dist/admin.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
