@tailwind preflight;
@tailwind components;
@tailwind utilities;

$sidebar-width: 200px;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.sidenav {
    width: $sidebar-width;

    &__item {
        @apply block w-full text-white no-underline py-1 px-2;

        &:hover {
            @apply bg-green-500;
        }
    }
}

.main {
    margin-left: $sidebar-width;
}

.text-shadow {
    text-shadow: 1px 1px 0 black;
}

input {
    @apply appearance-none border border-solid border-gray-400 p-1;
}

.button {
    @apply appearance-none px-2 py-1 border-0 text-base;
    height: 27px;
    line-height: 19px;

    @at-root a#{&} {
        @apply inline-block no-underline;
    }

    &__primary {
        @apply bg-green-500 text-white;

        &:hover {
            @apply bg-green-700;
        }
    }

    &__secondary {
        @apply bg-gray-600 text-white;

        &:hover {
            @apply bg-gray-800;
        }
    }
}