@tailwind preflight;
@tailwind components;
@tailwind utilities;

$sidebar-width: 200px;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.sidenav {
    width: 200px;

    &__item {
        @apply block w-full text-white no-underline py-1 px-2;

        &:hover {
            @apply bg-green-500;
        }
    }
}

.main {
    margin-left: $sidebar-width;
}

.text-shadow {
    text-shadow: 1px 1px 0 black;
}