@{
    ViewData["Title"] = "Watched";
}

<h2>Add new</h2>
<input id="SearchQuery" placeholder="Search..." />
<div id="SelectContainer" class="flex flex-wrap my-2 -mr-1 hidden"></div>

<h2 class="mt-2">Watched</h2>
<div id="ListContainer" class="flex flex-wrap -mr-1">
    @await Component.InvokeAsync("WatchedList", new { page = 1 })
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        Watched.Init();
    });
</script>