@{
    ViewData["Title"] = "Add";
}

@Html.TextBox("SearchQuery")
<div id="SelectContainer" class="flex flex-wrap mt-2 -mr-1"></div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        Watched.Init();
    });
</script>